<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Layout 1</title>
    <style media="screen">
    .border {
      border: 5px solid;
      padding: 20px;
    }

    </style>
  </head>
  <body>

    <div class="border">
      <div class="border">
        <div class="border">
          <div class="border">
            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                        <div class="border">
                          Begin with ideas.
                          Embrace chance.
                          Celebrate coincidence.
                          Adlib and make things up.
                          Eliminate superfluous elements.
                          Subvert expectation.
                          Make something difficult look easy.
                          Be first or last.
                          Believe complex ideas can produce simple things.
                          Trust the process.
                          Allow concepts to determine form.
                          Reduce material and production to their essence.
                          Sustain the integrity of an idea.
                          Propose honesty as a solution.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border">
      <div class="border">
        <div class="border">
          <div class="border">
            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                        <div class="border">
                          Begin with ideas.
                          Embrace chance.
                          Celebrate coincidence.
                          Adlib and make things up.
                          Eliminate superfluous elements.
                          Subvert expectation.
                          Make something difficult look easy.
                          Be first or last.
                          Believe complex ideas can produce simple things.
                          Trust the process.
                          Allow concepts to determine form.
                          Reduce material and production to their essence.
                          Sustain the integrity of an idea.
                          Propose honesty as a solution.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border">
      <div class="border">
        <div class="border">
          <div class="border">
            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                        <div class="border">
                          Begin with ideas.
                          Embrace chance.
                          Celebrate coincidence.
                          Adlib and make things up.
                          Eliminate superfluous elements.
                          Subvert expectation.
                          Make something difficult look easy.
                          Be first or last.
                          Believe complex ideas can produce simple things.
                          Trust the process.
                          Allow concepts to determine form.
                          Reduce material and production to their essence.
                          Sustain the integrity of an idea.
                          Propose honesty as a solution.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border">
      <div class="border">
        <div class="border">
          <div class="border">
            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                        <div class="border">
                          Begin with ideas.
                          Embrace chance.
                          Celebrate coincidence.
                          Adlib and make things up.
                          Eliminate superfluous elements.
                          Subvert expectation.
                          Make something difficult look easy.
                          Be first or last.
                          Believe complex ideas can produce simple things.
                          Trust the process.
                          Allow concepts to determine form.
                          Reduce material and production to their essence.
                          Sustain the integrity of an idea.
                          Propose honesty as a solution.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border">
      <div class="border">
        <div class="border">
          <div class="border">
            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                        <div class="border">
                          Begin with ideas.
                          Embrace chance.
                          Celebrate coincidence.
                          Adlib and make things up.
                          Eliminate superfluous elements.
                          Subvert expectation.
                          Make something difficult look easy.
                          Be first or last.
                          Believe complex ideas can produce simple things.
                          Trust the process.
                          Allow concepts to determine form.
                          Reduce material and production to their essence.
                          Sustain the integrity of an idea.
                          Propose honesty as a solution.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<a href="../index.html">Return to index</a>
  </body>
</html>
