* {
  box-sizing: border-box;
}


/* Start here */

body {


}

.time{
  font-family: arial;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.image_swap{
  margin: auto;
  width: 500px;
}

.image_swap img{
  max-width: 100%;
}

.image_swap .message{
  text-align: center;
  font-size: 40px;
}

.grace{
  font-size: 100px;
  font-family: arial;
  text-align: center;
  color: red;
}
