/* Note target the body first with the modifer.
For example, every evenSecond change the div color to blue.
Every oddSecond change the div color to red

body.evenS .time {
  color:blue;
}

body.oddS .time {
  color:red;
}

Target multiple together. Every evenSecond only in the evening, display an image.

body.evenS.pm .sunset {
  display:block;
}

*/


/* Time CSS here */

body.evenS {
  background-color: black;
}

body.oddS {
  background-color: white;
}

body.evenS .time, body.evenS .message{
color: white;
}

body.oddS .time, body.oddnS .message{
  color: black;
}

body.am .image_swap .eclipse, body.am .image_swap .afternoon {
  display: none;
}

body.pm .image_swap .eclipse, body.pm .image_swap .afternoon{
  display: block;
}

body.am .image_swap .sunrise, body.am .image_swap .morning{
  display: block;
}

body.pm .image_swap .sunrise, body.pm .image_swap .morning{
  display: none;
}

body.halfS .time{
  font-size: 50px;
}

body.friday .message{
  color: blue;
}

body.saturday .time, body.sunday .time{
  color: red;
}

body.h12.quarterM .grace{
  display: block;
}

.grace{
  display: none;
}
