<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 4</title>
    <style media="screen">

    .fixed {
      position: absolute;
      top: 200px;
      left: 400px;

    }

    .text {
      margin-top: 500px;
      margin-bottom: 1500px;
      font-weight: bold;
      font-size: 70px;
    }

    </style>

  </head>
  <body>

    <div class="fixed">
      <h1>MINI MANEFESTO</h1>
      <h5>Daniel Eatock</h5>
    </div>


    <div class="text">
      <p>
  <ul>
    <li>Begin with ideas.</li>
<li>Embrace chance.</li>
<li>Celebrate coincidence.</li>
<li>Ad–lib and make things up.</li>
<li>Eliminate superfluous elements.</li>
<li>Subvert expectation.</li>
<li>Make something difficult look easy.</li>
<li>Be first or last.</li>
<li>Believe complex ideas can produce simple things.</li>
<li>Trust the process.</li>
<li>Allow concepts to determine form.</li>
<li>Reduce material and production to their essence.</li>
<li>Sustain the integrity of an idea.</li>
<li>Propose honesty as a solution.Begin with ideas.</li></ul>

</p>

    </div>
    <a href="../index.html">Return to index</a>
  </body>
</html>
