<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 3</title>
    <style media="screen">
      .margin {
        margin-left: 200px;
        border-left: 10px solid;
        padding-left: 100px;
        width: 400px;
      }

      .two {
        margin-left: 400px;
        border-left: 2px solid;
      }

      .three {
        margin-left: 400px;
        border-left: 2px solid;
      }
    </style>
  </head>

  <body>

    <div class="margin one">
      <h1>MINI MANEFESTO</h1>
      <h2>Daniel Eatock</h2>
    </div>
    <div class="margin two">Begin with ideas.
Embrace chance.
Celebrate coincidence.
Adlib and make things up.
Eliminate superfluous elements.
Subvert expectation.
Make something difficult look easy.
Be first or last.
Believe complex ideas can produce simple things.
Trust the process.
Allow concepts to determine form.
Reduce material and production to their essence.
Sustain the integrity of an idea.
Propose honesty as a solution.</div>
    <div class="margin three">Begin with ideas.
Embrace chance.
Celebrate coincidence.
Ad–lib and make things up.
Eliminate superfluous elements.
Subvert expectation.
Make something difficult look easy.
Be first or last.
Believe complex ideas can produce simple things.
Trust the process.
Allow concepts to determine form.
Reduce material and production to their essence.
Sustain the integrity of an idea.
Propose honesty as a solution.</div>
<a href="../index.html">Return to index</a>
  </body>
</html>
