* {
  box-sizing: border-box;
}


/* Start here */


body {
background-color: blue;
display: flex;
}

nav{
  display: inline-block;
  font-family: OCR A Std, monospace;
  padding: 12px;
  letter-spacing: -1px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 100;
  align-self: center;
  background-color: black;
  color: white;
}

.menubar{
  width: 100%;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: relative;
  z-index:-10;
}

.image_swap{
  top: 250px;
  position: relative;
  z-index: 40px;
  text-align: center;
  margin-left: -860px;
}

.loader{
  width: 90px;
  margin: auto;
  text-align: center;
}

.three{
  width: 400px;
  margin-left: -40px;
  text-align: center;
}

.loading{
  padding-top: 100px;
}

.message{
  text-align: center;
  font-size: 40px;
  font-family: OCR A Std, monospace;
  color: white;
}
