.body{
background-color: lightsalmon;
margin: -10px;
}

.topnav a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: arial;
  padding: 8px;
  z-index: 5;
}

.topnav{
  text-align: center;
  padding-top:25px;
  width: 100%;
}

.backbutton{
  position: fixed;
  text-decoration: none;
  color: white;
  left: 4%;
  margin-top: 280px;
  font-size: 80px;
  font-weight: bolder;
}

.nextbutton{
  position: fixed;
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
  font-size: 25px;
  color: white;
  transform: rotate(90deg);
  right: 6%;
  margin-top: 280px;
  letter-spacing: 3px;
}


.home-link {
 position: fixed;
 top: 20px;
 left: 4%;
 text-align: center;
 z-index: 5;
 text-decoration:none;
 color:red;
 font-family: arial;
 font-weight: bold;
 border-width: 0 0 2px;
 border-style: solid;
}

.memes-link{
 position: fixed;
 top: 20px;
 left: 90%;
 text-align: center;
 z-index: 5;
 text-decoration:none;
 color:red;
 font-family: arial;
 font-weight: bold;
 border-width: 0 0 2px;
 border-style: solid;
 text-decoration: none;
}

.about-link{
position: fixed;
top: 92%;
left: 4%;
text-align: center;
text-decoration:none;
z-index: 5;
color:red;
font-family: arial;
font-weight: bold;
border-width: 0 0 2px;
border-style: solid;
text-decoration: none;
}

.contact-link{
position: fixed;
top: 92%;
left: 90%;
text-align: center;
z-index: 5;
color:red;
font-family: arial;
font-weight: bold;
border-width: 0 0 2px;
border-style: solid;
text-decoration: none;
}

.heading{
font-family: arial;
font-weight: bold;
font-size: 50px;
text-align: center;
padding-top: 18%;
color: red;
}

.subheading{
  font-size: 17px;
}

.whitetext{
color:white;
}

.whitetext:hover{
  color: yellow;
}

.intro{
text-align: center;
font-family: arial;
font-weight:bold;
font-size: 18px;
padding-top:18px;
color:red;
}

.introtext{
  text-align: left;
  font-family: arial;
  font-weight: bold;
  font-size: 42px;
  padding-left: 120px;
  padding-right: 130px;
  padding-top: 30px;
  line-height: 130%;
  color:red;
}

.sources {
  width: 70%;
  background-color: lightsalmon;
  text-align: center;
  height:40px;
  font-size: 60px;
  font-family: arial;
  font-weight: bold;
  padding: 40px;
  margin: 50px;
  margin-left: 120px;
  line-height:45px;
  border:3px solid red;
  box-shadow:20px 20px 0px red;
  color: red;
}

.sources a{
  text-decoration: none;
  color: white;
}

a:hover {text-decoration:none;color:blue;}

.headerimage{
  width:77%;
  margin-left: 9%;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.imagedescription {
  margin-left: 11%;
  margin-top: 30px;
  color: red;
  font-family: arial;
}

.articlebodyheading{
  font-family: arial;
  margin-left: 11%;
  color: red;
  font-weight: bold;
  font-size: 42px;
}

.articlebodytext{
  font-family: arial;
  margin-left: 11%;
  margin-right: 14%;
  color: red;
  font-size: 18px;
  line-height: 24px;
  margin-top: -15px;
  font-weight: lighter;
}

.question {
  font-weight: bold;
}

.bodytextlink{
  color: blue;
  text-decoration: none;
}

.bodyimage{
  width:96%;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.bodywhite{
  background-color: white;
}

.aboutheading{
  font-family: arial;
  color: blue;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 120px;
}

.aboutbody{
  font-family: arial;
  color: lightsalmon;
  text-align: center;
  padding-left: 430px;
  padding-right: 430px;
  font-size: 18px;
  line-height: 27px;
}
