.body{
background-color: lightsalmon;
margin: -10px;
}

.topnav a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: arial;
  padding: 8px;
  z-index: 5;
  letter-spacing: 1px;
}

.topnav{
  text-align: center;
  padding-top:25px;
  width: 100%;
}

.current{
  color: blue;
  border-width: 2px 0 0;
  border-style: solid;
}

.backbutton{
  position: fixed;
  text-decoration: none;
  color: white;
  left: 2%;
  margin-top: 280px;
  font-family: arial;
  font-weight: bold;
  font-size: 30px;
  transform: rotate(-90deg);
  letter-spacing: 3px;
}

.nextbutton{
  position: fixed;
  text-decoration: none;
  color: white;
  right: 4%;
  margin-top: 280px;
  font-family: arial;
  font-weight: bold;
  font-size: 30px;
  transform: rotate(90deg);
  letter-spacing: 3px;
}

.home-link {
 position: fixed;
 top: 20px;
 left: 4%;
 text-align: center;
 z-index: 5;
 text-decoration:none;
 color:red;
 font-family: arial;
 font-weight: bold;
 border-width: 0 0 2px;
 border-style: solid;
}

.homeon{
  position: fixed;
  top: 20px;
  left: 4%;
  text-align: center;
  z-index: 5;
  text-decoration:none;
  color:blue;
  font-family: arial;
  font-weight: bold;
  border-width: 0 0 2px;
  border-style: solid;
}

.memes-link{
 position: fixed;
 top: 20px;
 left: 90%;
 text-align: center;
 z-index: 5;
 text-decoration:none;
 color:red;
 font-family: arial;
 font-weight: bold;
 border-width: 0 0 2px;
 border-style: solid;
 text-decoration: none;
}

.memeson{
 position: fixed;
 top: 20px;
 left: 90%;
 text-align: center;
 z-index: 5;
 text-decoration:none;
 color:blue;
 font-family: arial;
 font-weight: bold;
 border-width: 0 0 2px;
 border-style: solid;
 text-decoration: none;
}

.about-link{
position: fixed;
top: 92%;
left: 4%;
text-align: center;
text-decoration:none;
z-index: 5;
color:red;
font-family: arial;
font-weight: bold;
border-width: 0 0 2px;
border-style: solid;
text-decoration: none;
}

.abouton{
position: fixed;
top: 92%;
left: 4%;
text-align: center;
text-decoration:none;
z-index: 5;
color:blue;
font-family: arial;
font-weight: bold;
border-width: 0 0 2px;
border-style: solid;
text-decoration: none;
}

.contact-link{
position: fixed;
top: 92%;
left: 90%;
text-align: center;
z-index: 5;
color:red;
font-family: arial;
font-weight: bold;
border-width: 0 0 2px;
border-style: solid;
text-decoration: none;
}

.contacton{
position: fixed;
top: 92%;
left: 90%;
text-align: center;
z-index: 5;
color:blue;
font-family: arial;
font-weight: bold;
border-width: 0 0 2px;
border-style: solid;
text-decoration: none;
}

.heading{
font-family: arial;
font-weight: bold;
font-size: 50px;
text-align: center;
padding-top: 16%;
color: red;
}

.subheading{
  font-size: 17px;
}

.whitetext{
color:white;
}

.whitetext:hover{
  color: yellow;
}

.intro{
text-align: center;
font-family: arial;
font-weight:bold;
font-size: 18px;
padding-top:18px;
color:red;
}

.introtext{
  text-align: left;
  font-family: arial;
  font-weight: bold;
  font-size: 42px;
  padding-left: 120px;
  padding-right: 130px;
  padding-top: 30px;
  line-height: 130%;
  color:red;
}

.beginning a{
  text-decoration: none;
}

.beginning{
  text-decoration: none;
  color: white;
}

.sources {
  width: 70%;
  background-color: lightsalmon;
  text-align: center;
  height:40px;
  font-size: 60px;
  font-family: arial;
  font-weight: bold;
  padding: 40px;
  margin: 50px;
  margin-left: 120px;
  line-height:45px;
  border:3px solid red;
  box-shadow:20px 20px 0px red;
  color: red;
}

.sources a{
  text-decoration: none;
  color: red;
}

a:hover {text-decoration:none;color:blue;}

.headerimage{
  width:77%;
  margin-left: 9%;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.imagedescription {
  margin-left: 11%;
  margin-top: 30px;
  color: red;
  font-family: arial;
}

.articlebodyheading{
  font-family: arial;
  margin-left: 11%;
  color: red;
  font-weight: bold;
  font-size: 42px;
}

.articlebodytext{
  font-family: arial;
  margin-left: 11%;
  margin-right: 14%;
  color: red;
  font-size: 18px;
  line-height: 24px;
  margin-top: -15px;
  font-weight: lighter;
}

.question {
  font-weight: bold;
}

.bodytextlink{
  color: blue;
  text-decoration: none;
}

.bodyimage{
  width:96%;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.bodywhite{
  background-color: white;
}

.aboutheading{
  font-family: arial;
  color: blue;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 120px;
}

.aboutbody{
  font-family: arial;
  color: lightsalmon;
  text-align: center;
  padding-left: 430px;
  padding-right: 430px;
  font-size: 18px;
  line-height: 27px;
}

.appropriate__image{
  top: 180px;
  left: 65%;
  width: 300px;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.sam__image{
  top: 10%;
  left: 5%;
  width: 400px;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.tings__image{
  top: 20%;
  left: 60%;
  width: 350px;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.identity__image{
  top: 30%;
  left: 10%;
  width: 400px;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.mad__image{
  top: 30%;
  left: 65%;
  width: 350px;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.pool__image{
  top: 20%;
  left: 16%;
  width: 300px;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.wild__image{
  top: 53%;
  left: 8%;
  width: 450px;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.nsfw__image{
  top: 10%;
  left: 5%;
  width: 500px;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.card__image{
  top: 10%;
  left: 5%;
  width: 500px;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.boots__image{
  top: 20%;
  left: 40%;
  width: 600px;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.wtf__image{
  top: 15%;
  left: 5%;
  width: 400px;
  border:3px solid red;
  box-shadow:22px 22px 0px red;
}

.hover{
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}

.hover.showme{
  opacity: 1;
  transition: 1s;
}

.rollover{
  color: white;
}

.rollover:hover{
  color: yellow;
}
